<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CloneStarter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "partials/toolbar" %>

<div class="rails-errors">
  <%= render "partials/errors" %>
</div>

<%= yield %>

</body>
</html>
